html{
    font-size: 16px;
}
*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial , sans-serif;
}

/* setting varibales*/
#root{
    --hf-bg-color: #203040; /* hf = header and footer */
    --main-text-color:#ffffff;   
}

/* utility classes and same style  */
a{
    text-decoration: none;
    color: var(--main-text-color);
    transition: 0.6ms ease;
}
a:hover{
 color: orangered;
}



/* grid container  */
.grid-contaainer{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-rows:4rem 1fr 4rem;
    grid-template-columns: 1fr;
}


/* header css  */
header{
grid-area: header;
background-color:var(--hf-bg-color);
display: flex;
align-items: center;
}

/* main css  */
main{
grid-area: main;
margin-top: 2em;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.main{
    flex: 3 60%;
}
.sidebar{
    flex: 1 20%;
}

/* Products components  */
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.products li{
    flex: 0 1 20rem;
    padding: 1em;
}
.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 0.6em;
}
.product img{
  max-height: 23rem;
  max-height: 23rem;
}
.product a{
    color: black;
}
.product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-price h3,button{
    flex: 1;
}
.product-price button{
    padding: 0.8em;
    border: 2px solid #c0c0c0;
    cursor: pointer;
    background: #ffc000;
    transition: 0.2s ease;
    font-size: 0.9rem;
    font-weight: 600;
}
.product-price button:hover{
    border: 2px solid black;
}


/* main css end here  */

/* footer css  */
footer{
grid-area: footer;
background-color:var(--hf-bg-color);
color:var(--main-text-color);
display: flex;
align-items: center;
justify-content: center;
}